<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dwiprayogo.cobatanggal">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:icon"
        android:theme="@style/MyMaterialTheme.Base">
        <activity
            android:name=".WelcomeActivity"
            android:noHistory="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".Login"
            android:theme="@style/MyMaterialTheme.Base"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity android:name=".Login_2"
            android:theme="@style/MyMaterialTheme.Base"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity android:name=".Process"
            android:theme="@style/MyMaterialTheme.Base"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity android:name=".Payment"
            android:theme="@style/MyMaterialTheme.Base"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity android:name=".Home_pertama"
            android:theme="@style/MyMaterialTheme.Base"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity android:name=".Payment_Refund"
            android:theme="@style/MyMaterialTheme.Base"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <activity android:name=".APPTrack"
            android:theme="@style/MyMaterialTheme.Base"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"
            android:windowSoftInputMode="adjustPan">

        </activity>



        <activity android:name=".Payment_PO"
            android:theme="@style/MyMaterialTheme.Base"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"
            android:windowSoftInputMode="adjustPan">

        </activity>


        <activity android:name=".Detail_refund"
            android:theme="@style/MyMaterialTheme.Base"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"
            android:windowSoftInputMode="adjustPan">

        </activity>
    </application>

</manifest>